<div id="banner">
    <a href="{{ products[0].href }}" title="{{ products[0].name }}" style="text-decoration: none;">
        <div style="width: 460px; height: 150px; border: solid; box-shadow: 3px 0 3px 0 #0d6efd; border-radius: 12px; background: #fff; box-shadow: 0px 0px 25px 25px #fff;">
            <div class="row">
                <div class="col-8">
                    <div class="row" >
                        <div class="col-12" style="color: #0f4799; font-size: 40px; margin-left: 10px; font-weight: bold;">
                            {{ name }}
                        </div>
                    </div>
                    <div class="row">
                        {% if products[0].special %}
                        <div class="col-6" style="color: #0f4799; font-size: 25px; font-weight: bold; margin-left: 10px;">
                            {{ products[0].special }}
                        </div>
                        <div class="col-5" style="color: gray; font-size: 20px; margin-top: 5px; font-weight: bold; text-decoration: line-through;">
                            {{ products[0].price }}
                        </div>
                        {% else %}
                            <div class="col-6" style="color: #0f4799; font-size: 25px; font-weight: bold; margin-left: 10px;">
                                {{ products[0].price }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-12" style="color: gray; font-size: 20px; margin-left: 10px;">
                            {{ products[0].name }}
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <img style="width: 250px; height: 250px; margin-left: -60px; margin-top: -60px;" src="/image/parts.png">
                </div>
            </div>
        </div>
    </a>
</div>
