{{ header }}

<main class="container" style="height: 100vh;">

    <h4 class="p-3">{{ message }}</h4>
    <p class="p-3">{{ submessage }}</p>
    <div class="p-3">
        <a href="{{ link_home }}" class="btn btn-link">Назад</a>
    </div>

</main>

{{ footer }}
